{% extends "_layout.html" %}

{% block title%}
Pipauto-clients
{% endblock %}

{% block content %}
<div class="h-1/6 w-full flex flex-col">
	<h2 class= "flex-grow w-full px-4 pb-6 pt-4 text-2xl text-left"> List of clients </h2>
	<div class="w-full h-24 flex flex-col justify-end py-2 px-4">
		<input
			name="search" type="search" placeholder="filter clients"
			class="border rounded-md px-2 w-64 h-8"
			hx-trigger= "input changed delay:500ms, search"
			hx-target="#table" hx-swap="outerHTML"
			hx-post="/clients/search"

		/>
	</div>
</div>
{% include "clients_table.html" %}

{% endblock %}
