<div class="h-16 w-full flex items-center justify-between px-8 border-t-2 border-gray-600">

	<div class="flex items-center">
		<p class="space-x-2">
			<span class="font-semibold">{{paging.start}}</span>
			<span class="font-light text-gray-400"> of </span>
			<span class="font-semibold">{{paging.count}}</span>
		</p>
	</div>

	<div class="flex items-center border rounded-md w-24 h-10">
		<div
			class="w-1/2 border-r h-full cursor-pointer hover:bg-sky-200 flex items-center justify-center rounded-l-md">

			<div class="h-6 w-6 flex items-center justify-center" hx-get="/clients/decrement/paging"
				hx-trigger="click" hx-swap="outerHTML" hx-target="#table">
				<i class="fa-solid fa-chevron-left"></i>
			</div>

		</div>

		<div class="w-1/2 h-full cursor-pointer hover:bg-sky-200 flex items-center justify-center rounded-r-md">
			<div class="h-6 w-6 flex items-center justify-center" hx-get="/clients/increment/paging"
				hx-trigger="click" hx-swap="outerHTML" hx-target="#table">
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</div>

	</div>

</div>
