{% extends "_layout.html" %}


{% block title %}
Pipauto-client
{% endblock %}

{% block content %}
<h2 class="text-xl font-bold pb-8 pt-4"> Update a Client </h2>
<form hx-post="/client/create/{{id}}" class="flex flex-col w-full h-full gap-6 items-center">
	<label for="first_name" class="flex flex-col"> First name
		<input class="border rounded-md border-sky-300 active:broder-blue-700" type="text" name="first_name"
			required />
	</label>

	<label for="last_name" class="flex flex-col"> Last name
		<input class="border rounded-md border-sky-300 active:broder-blue-700" type="text" name="last_name"
			required />
	</label>

	<label for="address" class="flex flex-col"> Address
		<input value={{address}} class="border rounded-md border-sky-300 active:broder-blue-700" type="text"
			name="address" required />
	</label>

	<label for="phone" class="flex flex-col"> Phone
		<input class="border rounded-md border-sky-300 active:broder-blue-700" type="tel" name="phone" />
	</label>

	<label for="email" class="flex flex-col"> Email
		<input class="border rounded-md border-sky-300 active:broder-blue-700" type="email" name="email" />
	</label>

	<button class="bg-sky-400 border rounded-md px-4 py-2 hover:bg-sky-600 uppercase hover:cursor-pointer"
		type="submit">
		Create
	</button>
</form>
{% endblock %}
